<ng-container *ngIf="(rows$ | async) as rows">
  <table *ngIf="rows?.length; else noResults">
    <caption>Data</caption>
    <tr>
      <th>Last</th>
      <th>Close</th>
      <th>Day Change %</th>
      <th>Day Change</th>
      <th>Volume</th>
      <th>Turnover</th>
      <th>Previous year close</th>
      <th>YTD%</th>
    </tr>
    <tr *ngFor="let row of rows">
      <td>{{ row.last.value }} ({{ row.last.date }})</td>
      <td>{{ row.close.value }} ({{ row.close.date }})</td>
      <td>{{ row.dayChangePercentage }}</td>
      <td>{{ row.dayChange }}</td>
      <td>{{ row.volume }}</td>
      <td>{{ row.turnover }}</td>
      <td>{{ row.previousYearClose.value }} ({{ row.previousYearClose.date }})</td>
      <td>{{ row.ytdPercentage }}</td>
    </tr>
  </table>
</ng-container>
<ng-template #noResults>
  <span *ngIf="messageAvailable">{{ NO_ROWS_MESSAGE }}</span>
</ng-template>
